.CheckoutWrapper {
  .Checkout {
    @include desktop {
      margin-top: 0;
    }
  }

  .progress-bar {
    display: flex;
    background: var(--breadcrumbs-background);
    padding-top: var(--breadcrumbs-height);
    .progress-step {
      display: flex;
      align-items: center;
      .bar {
        width: calc(100% - 44px);
        height: 5px;
        background: var(--checkout-address-table-check-mark-hover-color);
        border-top-right-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
        .fill {
          background: var(--primary-dark-color);
          width: 0%;
          height: 100%;
          &_full {
            width: 100%;
            transition: width 1s ease;
          }
        }
      }
      &:last-child .bar {
        width: 100%;
      }
      .checkpoint {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: var(--checkout-address-table-check-mark-hover-color);
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: 10px;
        &_reached {
          background: var(--primary-base-color);
        }
        .tick {
          top: -5%;
          width: 12px;
          height: 6px;
          transform: rotate(135deg);
          border-right: 2px solid var(--checkout-address-table-border);
          border-top: 2px solid var(--checkout-address-table-border);
        }

        .step-name {
          position: absolute;
          color: black;
          bottom: -100%;
        }
      }
    }
  }
}
